/* custom-css */
.epilogue-font{
    font-family: "Epilogue";
}
.ubuntu-font{
    font-family: "Ubuntu"
}
.inter-font{
    font-family: "Inter"
}
.lato-font{
    font-family: "Lato"
}

/* import-statements */
@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css'